<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.fajarproject.roommovie">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup"
        tools:targetApi="n">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.fajarproject.roommovie"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movieList.MovieListActivity"
            android:configChanges="locale"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:configChanges="locale"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setting.WebViewActivity"
            android:configChanges="locale"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.tvList.TvListActivity"
            android:configChanges="locale"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.movieDetail.MovieDetailActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.DarkStatusBar" />
        <activity
            android:name=".ui.tvDetail.TvDetailActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.DarkStatusBar" />
        <activity
            android:name=".ui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.video.VideoListActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.previewPicture.PreviewPictureActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.DarkStatusBar" />
        <activity android:name=".ui.picture.PictureActivity"
            android:configChanges="locale"
            android:label=""
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>